@use "../base/mixins" as *;
@use "../base/variables" as *;

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond-to($bp-768) {
    font-size: 56.25%; //1 rem = 9px
  }

  @include respond-to($bp-400) {
    font-size: 50%; //1 rem = 8px
  }
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(7vw, min-content) minmax(min-content, auto) minmax(
      7vw,
      min-content
    );
}
