:root {
  // Colors
  --color-dark-purple: #24053e;
  --color-eucalyptus: #44ffa1;
  --color-davys-grey: #584d62;
  --color-ghost-white: #fcf8ff;
  --color-white: #ffffff;

  //Fonts
  --font-heading: "Fraunces", serif;
  --font-body: "Manrope", sans-serif;
}

$bp-1024: 64em; // 1em = 10px > 1024px = 102.4em
$bp-768: 48em; // 1rem = 9px >  768 / 9 = 85.3em
$bp-650: 40.625em;
$bp-550: 34.375em; // 1rem = 8px > 550 / 8 =
$bp-400: 25em;
