:root {
  // Colors
  --color-dark-purple: #24053e;
  --color-eucalyptus: #44ffa1;
  --color-davys-grey: #584d62;
  --color-ghost-white: #fcf8ff;
  --color-white: #ffffff;

  //Fonts
  --font-heading: "Fraunces", serif;
  --font-body: "Manrope", sans-serif;
}
