.main {
  display: flex;
  flex-direction: row;
  margin-top: 25rem;
  padding: 0rem 15rem 20rem;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--color-ghost-white);

    width: 100%;
    height: 100%;
    z-index: -50;
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--color-dark-purple);
    margin: 0 4rem;

    &-step {
      display: flex;
      font-family: var(--font-heading);
      font-size: 2.4rem;
      font-weight: 600;
      border: 0.15rem solid var(--color-dark-purple);
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      margin-bottom: 5rem;
      //   &::after {
      //     content: "";
      //     position: absolute;
      //     top: -18%;
      //     left: 45%;
      //     width: 4.5rem;
      //     height: 4.5rem;

      // transform: translateX(-100%);
      // transform: translateY(-50%);
    }
    &-heading {
      margin-bottom: 3rem;
    }
    &-description {
    }
  }
}
