@use "../base/mixins" as *;
@use "../base/variables" as *;

.main {
  padding-top: var(--padding-xlarge);
  padding-bottom: var(--padding-large);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  background-color: var(--color-ghost-white);
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: -10rem;
  z-index: -50;
  border-bottom-left-radius: 80% 12%;
  border-bottom-right-radius: 80% 12%;
  overflow: hidden;
  align-items: center;

  @include respond-to($bp-1024) {
    flex-direction: column;
    padding-bottom: var(--padding-medium);
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
  }

  @include respond-to($bp-768) {
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
  }

  @include respond-to($bp-400) {
    padding-top: var(--padding-large);
  }

  &__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: var(--color-dark-purple);
    margin: 0 2em;

    @include respond-to($bp-1024) {
      display: grid;
      grid-template-columns: min-content 1fr;
      column-gap: 5rem;
      text-align: start;
      margin-top: 5rem;
    }

    @include respond-to($bp-550) {
      grid-template-columns: none;
      grid-template-rows: repeat(3, min-content);
      text-align: center;
      justify-content: center;
      gap: 0;
    }

    &-step {
      display: flex;
      font-family: var(--font-heading);
      font-size: 2.4rem;
      font-weight: 600;
      border: 0.15rem solid var(--color-dark-purple);
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      margin-bottom: 4rem;

      @include respond-to($bp-1024) {
        grid-column: 1 / 2;
        grid-row: span 2;
        align-self: center;
        margin-bottom: 0;
      }

      @include respond-to($bp-550) {
        padding: 0;
        margin: 0;
        grid-column: none;
        grid-row: 1 / 2;
        margin-bottom: 4rem;
        justify-self: center;
      }
    }
    &-heading {
      margin-bottom: 3rem;
      @include respond-to($bp-1024) {
        grid-column: 2 / 3;
        justify-self: start;
        margin-bottom: 2rem;

        @include respond-to($bp-550) {
          grid-row: 2 / 3;
          justify-self: center;
        }
      }
    }
    &-description {
      @include respond-to($bp-1024) {
        grid-column: 2 / 3;
        justify-self: start;

        @include respond-to($bp-550) {
          grid-row: 3 / 4;
        }
      }
    }
  }
}
