@use "../base/mixins" as *;
@use "../base/variables" as *;

.header {
  position: relative;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;
  padding: 5rem 10rem;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: url("assets/images/bg-pattern-1.svg") no-repeat -10% 15%,
      url("assets/images/bg-pattern-2.svg") no-repeat 102% 40%,
      var(--color-dark-purple);
    background-size: 20%, 12%, contain;
    z-index: -5;
    clip-path: ellipse(100% 85% at 50% 15%);
  }

  &__logo {
    padding: 0;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    grid-column: 2 / 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 5rem;

    &-h1 {
      color: var(--color-white);
    }
  }

  &__hero-img {
    width: 75%;
    margin-bottom: -22rem;
    overflow: visible;
  }
}

/// Media Queries
///

@include respond-to($bp-1024) {
  .header {
    padding: 3rem 6rem;
  }
}

@include respond-to($bp-768) {
  .header {
    padding-bottom: 10rem;
    &::before {
      clip-path: ellipse(150% 85% at 50% 15%);
    }
    &__hero-img {
      width: 90%;
    }
  }
}

@include respond-to($bp-550) {
  .header {
    padding-bottom: 12rem;
    &::before {
      clip-path: ellipse(200% 85% at 50% 15%);
    }
    &__hero-img {
      width: 100%;
    }
  }
}

// .header {
//   padding-top: var(--padding-small);
//   padding-bottom: var(--padding-xlarge);
//   padding-left: var(--padding-large);
//   padding-right: var(--padding-large);
//   background: url("assets/images/bg-pattern-1.svg") no-repeat -10% 15%,
//     url("assets/images/bg-pattern-2.svg") no-repeat 102% 40%,
//     var(--color-dark-purple);
//   background-size: 20%, 12%, cover;
//   border-bottom-left-radius: 80% 12%;
//   border-bottom-right-radius: 80% 12%;
//   overflow: hidden;
//   display: flex;
//   flex-flow: column;
//   align-items: center;

//   @include respond-to($bp-1024) {
//     padding-left: var(--padding-medium);
//     padding-right: var(--padding-medium);
//   }

//   @include respond-to($bp-768) {
//     padding-left: var(--padding-small);
//     padding-right: var(--padding-small);
//   }

//   @include respond-to($bp-550) {
//     padding-left: var(--padding-xsmall);
//     padding-right: var(--padding-xsmall);
//     padding-bottom: var(--padding-large);
//   }

//   &__hero-img {
//     top: 40rem;
//     position: absolute;
//     margin-top: 5rem;
//     width: 75vw;
//     max-width: 75rem;
//     z-index: 50;

//     @include respond-to($bp-768) {
//       margin-top: 8rem;
//       width: 85vw;
//     }
//     @include respond-to($bp-550) {
//       margin-top: 4rem;
//       width: 90vw;
//     }
//   }

//   &__logo {
//     width: 100%;
//     display: flex;
//     flex-flow: row;
//     justify-content: space-between;
//   }

//   &__heading {
//     display: flex;
//     flex-direction: column;
//     align-items: center;

//     &-h1 {
//       text-align: center;
//       color: var(--color-white);
//     }
//     &-btn {
//       display: inline;
//     }
//   }
// }
