@use "../base/variables";

.header {
  //   clip-path: ellipse(100% 15% at 50% 70%);

  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5rem 15rem 30rem;

  &::before {
    position: absolute;
    top: -1%;
    width: 100vw;
    height: 100vh;
    background: url("assets/images/bg-pattern-1.svg") no-repeat -10% 15%,
      url("assets/images/bg-pattern-2.svg") no-repeat 102% 40%,
      var(--color-dark-purple);
    background-size: 20vw, 10vw, cover;
    content: "";
    clip-path: ellipse(180rem 55rem at 40% 20%);
    z-index: -10;
  }

  &__logo {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-h1 {
      text-align: center;
      color: var(--color-white);
    }
    &-btn {
      display: inline;
    }
  }
  &__hero-img {
    position: absolute;
    top: 42%;
    width: 50vw;

    // transform: translateY(50%);
  }
}
