@use "../base/mixins" as *;
@use "../base/variables" as *;

.header {
  padding-top: var(--padding-small);
  padding-bottom: var(--padding-xlarge);
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  background: url("assets/images/bg-pattern-1.svg") no-repeat -10% 15%,
    url("assets/images/bg-pattern-2.svg") no-repeat 102% 40%,
    var(--color-dark-purple);
  background-size: 20%, 12%, cover;
  border-bottom-left-radius: 80% 12%;
  border-bottom-right-radius: 80% 12%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  align-items: center;

  @include respond-to($bp-1024) {
    padding-left: var(--padding-medium);
    padding-right: var(--padding-medium);
  }

  @include respond-to($bp-768) {
    padding-left: var(--padding-small);
    padding-right: var(--padding-small);
  }

  @include respond-to($bp-550) {
    padding-left: var(--padding-xsmall);
    padding-right: var(--padding-xsmall);
    padding-bottom: var(--padding-large);
  }

  &__hero-img {
    top: 40rem;
    position: absolute;
    margin-top: 5rem;
    width: 75vw;
    max-width: 75rem;
    z-index: 50;

    @include respond-to($bp-768) {
      margin-top: 8rem;
      width: 85vw;
    }
    @include respond-to($bp-550) {
      margin-top: 4rem;
      width: 90vw;
    }
  }

  &__logo {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-h1 {
      text-align: center;
      color: var(--color-white);
    }
    &-btn {
      display: inline;
    }
  }
}
