*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

html {
  font-size: 65.5%;
}

body {
  max-width: 100vw;
}

:root {
  --color-dark-purple: #24053e;
  --color-eucalyptus: #44ffa1;
  --color-davys-grey: #584d62;
  --color-ghost-white: #fcf8ff;
  --color-white: #ffffff;
  --font-heading: "Fraunces", serif;
  --font-body: "Manrope", sans-serif;
}

@font-face {
  font-family: "Fraunces";
  src: url("/dist/assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("/dist/assets/fonts/manrope/static//Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
h1 {
  font-family: var(--font-heading);
  font-size: 8rem;
  font-weight: 600;
  line-height: 8rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 6.4rem;
}

h3 {
  font-family: var(--font-heading);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
}

p {
  font-family: var(--font-body);
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.text--underline {
  position: relative;
}
.text--underline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8.5rem;
  height: 0.4rem;
  width: 100%;
  background-color: var(--color-eucalyptus);
}

.mb-sm {
  margin-bottom: 1rem;
}

.mb-md {
  margin-bottom: 3rem;
}

.mb-lg {
  margin-bottom: 5rem;
}

.mb-xl {
  margin-bottom: 8rem;
}

.btn--primary {
  font-family: var(--font-body);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-dark-purple);
  background-color: var(--color-eucalyptus);
  padding: 1.3rem 2.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0);
  outline: none;
}
.btn--primary:hover {
  background-color: var(--color-dark-purple);
  color: var(--color-eucalyptus);
  border: 0.2rem solid var(--color-eucalyptus);
}

.btn--secondary {
  font-family: var(--font-body);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-white);
  border: none;
  outline: none;
  padding: 0.5rem 0rem;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.3rem solid var(--color-eucalyptus);
}
.btn--secondary:hover {
  color: var(--color-eucalyptus);
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 5rem 15rem 30rem;
}
.header::before {
  position: absolute;
  top: -1%;
  width: 100vw;
  height: 100vh;
  background: url("assets/images/bg-pattern-1.svg") no-repeat -10% 15%, url("assets/images/bg-pattern-2.svg") no-repeat 102% 40%, var(--color-dark-purple);
  background-size: 20vw, 10vw, cover;
  content: "";
  clip-path: ellipse(180rem 55rem at 40% 20%);
  z-index: -10;
}
.header__logo {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.header__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__heading-h1 {
  text-align: center;
  color: var(--color-white);
}
.header__heading-btn {
  display: inline;
}
.header__hero-img {
  position: absolute;
  top: 42%;
  width: 50vw;
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 25rem;
  padding: 0rem 15rem 20rem;
}
.main::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--color-ghost-white);
  width: 100%;
  height: 100%;
  z-index: -50;
}
.main__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  color: var(--color-dark-purple);
  margin: 0 4rem;
}
.main__item-step {
  display: flex;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 600;
  border: 0.15rem solid var(--color-dark-purple);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin-bottom: 5rem;
}
.main__item-heading {
  margin-bottom: 3rem;
}

/*# sourceMappingURL=style.css.map */
