*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

:root {
  --color-dark-purple: #24053e;
  --color-eucalyptus: #44ffa1;
  --color-davys-grey: #584d62;
  --color-ghost-white: #fcf8ff;
  --color-white: #ffffff;
  --font-heading: "Fraunces", serif;
  --font-body: "Manrope", sans-serif;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width: 48em) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 25em) {
  html {
    font-size: 50%;
  }
}

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(7vw, min-content) minmax(min-content, auto) minmax(7vw, min-content);
}

@font-face {
  font-family: "Fraunces";
  src: url("/dist/assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("/dist/assets/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
h1 {
  font-family: var(--font-heading);
  font-size: 8rem;
  font-weight: 600;
  line-height: 8rem;
}

h2 {
  font-family: var(--font-heading);
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 6.4rem;
}

h3 {
  font-family: var(--font-heading);
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 4rem;
}

p {
  font-family: var(--font-body);
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.line-break::after {
  content: "";
  display: inline;
}

@media (min-width: 40.625em) {
  /* Adjust the width as needed */
  .line-break::after {
    content: "\a"; /* Inserts a line break */
    white-space: pre; /* Ensures the line break is respected */
  }
}
.text--underline {
  position: relative;
}
.text--underline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8.5rem;
  height: 0.4rem;
  width: 100%;
  background-color: var(--color-eucalyptus);
}

.btn--primary {
  font-family: var(--font-body);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-dark-purple);
  background-color: var(--color-eucalyptus);
  padding: 1.25rem 2.5rem;
  border: 0.2rem solid rgba(0, 0, 0, 0);
  outline: none;
}
.btn--primary:hover {
  background-color: var(--color-dark-purple);
  color: var(--color-eucalyptus);
  border: 0.2rem solid var(--color-eucalyptus);
}
@media screen and (max-width: 64em) {
  .btn--primary {
    padding: 1.4rem 2.7rem;
  }
}
@media screen and (max-width: 48em) {
  .btn--primary {
    padding: 1.56rem 3.1rem;
  }
}

.btn--secondary {
  font-family: var(--font-body);
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-white);
  border: none;
  outline: none;
  padding: 0.5rem 0rem;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 0.3rem solid var(--color-eucalyptus);
}
.btn--secondary:hover {
  color: var(--color-eucalyptus);
}

.header {
  position: relative;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: subgrid;
  padding: 5rem 10rem;
}
.header::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: url("assets/images/bg-pattern-1.svg") no-repeat -10% 15%, url("assets/images/bg-pattern-2.svg") no-repeat 102% 40%, var(--color-dark-purple);
  background-size: 20%, 12%, contain;
  z-index: -5;
  clip-path: ellipse(100% 85% at 50% 15%);
}
.header__logo {
  padding: 0;
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__heading {
  grid-column: 2/3;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  gap: 5rem;
}
.header__heading-h1 {
  color: var(--color-white);
}
.header__hero-img {
  width: 75%;
  margin-bottom: -22rem;
  overflow: visible;
}

@media screen and (max-width: 64em) {
  .header {
    padding: 3rem 6rem;
  }
}
@media screen and (max-width: 48em) {
  .header {
    padding-bottom: 10rem;
  }
  .header::before {
    clip-path: ellipse(150% 85% at 50% 15%);
  }
  .header__hero-img {
    width: 90%;
  }
}
@media screen and (max-width: 34.375em) {
  .header {
    padding-bottom: 12rem;
  }
  .header::before {
    clip-path: ellipse(200% 85% at 50% 15%);
  }
  .header__hero-img {
    width: 100%;
  }
}
.features {
  position: relative;
  margin-top: -10rem;
  padding-top: 30rem;
  margin-bottom: 10rem;
  padding-bottom: 15rem;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  grid-row: auto;
}
.features::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  max-width: 144rem;
  height: 100%;
  background-color: var(--color-ghost-white);
  z-index: -15;
  clip-path: ellipse(100% 85% at 50% 10%);
  transform: translateX(-50%);
}
.features__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/3;
  column-gap: 3rem;
  align-items: start;
}
.features__items-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  color: var(--color-dark-purple);
}
.features__items-item-step {
  display: flex;
  font-family: var(--font-heading);
  font-size: 2.4rem;
  font-weight: 600;
  border: 0.15rem solid var(--color-dark-purple);
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin-bottom: 4rem;
}
.features__items-item-heading {
  margin-bottom: 2rem;
}

@media screen and (max-width: 48em) {
  .features {
    margin-bottom: 5rem;
    padding-bottom: 10rem;
  }
  .features::after {
    clip-path: ellipse(150% 85% at 50% 10%);
  }
  .features__items {
    display: flex;
    flex-flow: column nowrap;
  }
  .features__items-item {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 5rem;
    text-align: start;
    margin-bottom: 5rem;
  }
  .features__items-item-step {
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    margin: 0;
  }
  .features__items-item-heading {
    grid-column: 2/3;
  }
  .features__items-item-description {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 34.375em) {
  .features {
    margin-bottom: 3rem;
    padding-bottom: 6rem;
  }
  .features__items-item {
    display: flex;
    flex-flow: column;
    text-align: center;
  }
  .features__items-item-step {
    margin-bottom: 4rem;
  }
}
.founder {
  padding-bottom: 10rem;
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1/-1;
  background-color: var(--color-white);
  position: relative;
  overflow: visible;
}
.founder::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("assets/images/bg-pattern-3.svg") no-repeat 85% 95%;
  background-size: 18%;
  z-index: 1000;
}
.founder__wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-column: 2/3;
}
.founder__photo {
  grid-column: 1/2;
}
.founder__photo-img {
  width: 100%;
}
.founder__message {
  margin-top: 20rem;
  margin-left: -10rem;
  grid-column: 2/3;
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 3rem;
  padding: 5rem 8rem;
  background-color: var(--color-dark-purple);
  color: var(--color-white);
}

@media screen and (max-width: 48em) {
  .founder__message {
    margin-top: 13rem;
  }
}
@media screen and (max-width: 34.375em) {
  .founder::before {
    background: none;
  }
  .founder__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .founder__message {
    text-align: center;
    align-items: center;
    padding: 3rem 4rem;
    margin: 0;
    margin-top: -12rem;
  }
}
.footer {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 2/3;
  margin: 10rem 0;
  row-gap: 5rem;
}
.footer__logo {
  justify-self: center;
}
.footer__socials {
  justify-self: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 3rem;
}

@media screen and (max-width: 48em) {
  .footer {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
